html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 450px;
  background-color: rgb(238, 238, 238);
}

.extension-header {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 65px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.logo-icon{
    width: 65px;
}

.extension-header, h1{
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.extension-linktocode{
    width: 450px;
    height: 40px;
    background-color: #201f1f;
    display: flex;
    justify-content: center;
}

.extension-linktocode, a{
    text-decoration: none;
    color: white;
    height: 40px;
    width: 450px;
    text-align: center;
}

.extension-linktocode p{
    height: 10px;
    margin: 10px;
}

.extension-saver {
    display:flex;
}

.extension-saveurl{
    width: 225px;
    height: 46px;
    border-bottom: 1px solid #201f1f;
    background-color: #D04423;
    display: flex;
    justify-content: center;
    position: relative;
}

.extension-saveurl span{
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

/* #saveurl :hover{
    background-color: #0F5298;
} */

.extension-downloadexcel{
    width: 225px;
    height: 46px;
    background-color: #1D6F42;
    border-bottom: 1px solid #201f1f;
    display: flex;
    justify-content: center;
    position: relative;
}

.extension-downloadexcel span{
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

/* .extension-downloadexcel :hover{
    background-color: #0F5298;
} */

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li{
    border-bottom: 1px solid #201f1f;
    display: flex;
    width: 450px;
}

.item-description{
    padding-top: 10px;
    padding-bottom: 11px;
    background-color:rgb(238, 238, 238);
    width: 350px;
}

.item-description p{
    color: #201f1f;
    text-align: center;
    background-color:rgb(238, 238, 238);
}

.extension-visit{
    padding-top: 10px;
    padding-bottom: 11px;
    width: 50px;
    background-color: #D04423;
}

.extension-delete{
    width: 50px;
    background-color: #4b4dad;
    padding-top: 10px;
    padding-bottom: 11px;
    text-align: center;
}

.extension-delete img {
    width: 25px;
    height: 25px; 
}