html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 450px;
  background-color: rgb(238, 238, 238);
}

.extension-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 65px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.extension-header, h1{
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding-right: 20px;
}

img {
    width: 65px;
}

.extension-linktocode, a{
    text-decoration: none;
}

.extension-linktocode, p{
    margin: 0px;
    text-align: center;
    background-color: #201f1f;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.extension-saver {
    display:flex;
}

.extension-saveurl{
    width: 50%;
}

.extension-downloadexcel{
    width: 50%;
}

.extension-saveurl p{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D04423;
    border-bottom: 1px solid #201f1f;
}

.extension-downloadexcel p{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1D6F42;
    border-bottom: 1px solid #201f1f;
}

.extension-saveurl :hover{
    background-color: #0F5298;
}

.extension-downloadexcel :hover{
    background-color: #0F5298;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li{
    border-bottom: 1px solid #201f1f;
    display: flex;
    width: 450px;
}

.item-description{
    padding-top: 10px;
    padding-bottom: 11px;
    background-color:rgb(238, 238, 238);
    width: 350px;
}

.item-description p{
    color: #201f1f;
    text-align: center;
    background-color:rgb(238, 238, 238);
}

.extension-visit{
    padding-top: 10px;
    padding-bottom: 11px;
    width: 50px;
    background-color: #D04423;
}

.extension-delete{
    width: 50px;
    background-color: #4b4dad;
    padding-top: 10px;
    padding-bottom: 11px;
}

.extension-delete :hover{
    background-color: black;
}